<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count='2'>
  <test name="Win10-FF-Test">
	  <parameter name='browser' value='Firefox'/>
	  <parameter name='version' value='88.0'/>
	  <parameter name='platform' value='Windows 10'/>


	  <classes>
	     <class name="testcases.TestOnSauceLabs"/>
	  </classes>
  </test> <!-- Test -->
  
  <test name="Win10-CH-Test">
	  <parameter name='browser' value='Chrome'/>
	  <parameter name='version' value='90.0'/>
	  <parameter name='platform' value='Windows 10'/>
	  <classes>
	     <class name="testcases.TestOnSauceLabs"/>
	  </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
